/* поправить в хэдаре иконку, сменить шрифт? Выровнять текст и лого */

ul, ol {
    list-style: none;
}

a { 
    color: inherit;
    text-decoration: none;
}

html{
    box-sizing: border-box;
    font-family: "Intel", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.page {
    background-color: #E1D4C9;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    box-sizing: border-box;
    /* height: 60px; */
}

.header_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.change_dark {
    display: flex;
    border: 1px solid #B0907A;
    border-radius: 60px;
    align-items: center;
    gap: 8px;
    padding: 4px;
    text-align: center;
    /* width: 88px; */
}

.button_header {
    display: flex;
    align-items: center;
    gap: 20px;
    /* margin-left: auto; */
    /* justify-content: flex-end; */
}

/* текст поверх картинки ровнять */

.main_photo {
    display: inline-block; 
    position: relative;
    padding: 0 40px;
    max-width: 100%;
    height: auto;
}

.main_text {
position: absolute;
top: 0;
left: 40px;
/* gap: 40px; */
/* padding-top: 100px; */
padding-left: 80px;
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: flex-start;
box-sizing: border-box;
}

.m_photo {
    border-radius: 16px;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 72px;
    font-style: bold;
    color: #E1D4C9;
}

.enjoy {
    color: #B0907A;
    font-style: italic;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: regular;
    color: #E1D4C9;
}

.footer {
    display: flex;
    background-color: #665F55;
}