ul, ol {
    list-style: none;
}

a { 
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.7px;
}

html{
    box-sizing: border-box;
    font-family: "Intel", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.page {
    background-color: #E1D4C9;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    box-sizing: border-box;
}

.header_nav {
    margin-left: -50px; 
    margin-right: 0;
}

.header_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    margin: 0;
    padding: 0;
}

.change_dark {
    display: flex;
    border: 1px solid #B0907A;
    border-radius: 60px;
    align-items: center;
    gap: 8px;
    padding: 4px;
    text-align: center;
}

.button_header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main_photo {
    display: block; 
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
}

.main_text {
position: absolute;
top: 0;
left: 20px;
gap: 40px;
padding-top: 100px;
padding-left: 80px;
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start; 
align-items: flex-start;
box-sizing: border-box;
}

.m_photo {
    border-radius: 40px;
    display: block;
    width: 100%;
    max-width: 1360px;
    height: 640px; 
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 72px;
    font-style: bold;
    color: #E1D4C9;
    line-height: 1.0;
    margin: 0;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.enjoy {
    color: #B0907A;
    font-style: italic;
}

h4 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: regular;
    color: #E1D4C9;
    margin: 0;
    line-height: 1.5;
    width: 90%;
}

button{
    height: 64px;
    width: 200px;
    background-color: #E1D4C9;
    color: #403F3D;        
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    font-family: "Inter", sans-serif; 
    font-size: 16px;                 
    font-weight: 600;
}


.section_menu {
    margin: 100px 0;
}

.menu_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 70px auto;
    position: relative;
    padding-bottom: 80px;
    height: 590px;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #403F3D;
    margin: 0;
    text-align: center;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #403F3D;
    margin: 0;
    text-align: center;
    gap: 16px;
    letter-spacing: 2px;
}

.h3_margin {
    margin-top: 40px;
    letter-spacing: 1px;
}

.favorite {
    color: #B0907A;
    font-style: italic;
    letter-spacing: 2px;
}

.go_back, .go_ahead {
    display: block;
    width: 60px;
    height: auto;
    cursor: pointer;
    margin: 0;
}

.go_back {
    justify-content: left;
} 

.go_ahead {
    justify-content: right;
}

.choose_coffee {
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
    width: 520px;
    gap: 16px;
}

.h4_dark{
    color: #403F3D;
    width: 100%;
    margin: 0;
}

.frappuccino {
    width: 450px;
    height: auto;
}

.menu_slider {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    justify-content: center;
} 

.perfect {
    color: #B0907A;
}

.about_main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
    max-width: 1440px;
}

.h2_long {
    letter-spacing: 1.4px;
    width: 100%;
    margin: 0;
    text-align: justify; 
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.first_col_photo,
.second_col_photo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: calc(50% - 20px);
}

.first_col_photo img,
.second_col_photo img {
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
}

.img_tall {
    height: 590px;        
}

.img_short {
    height: 430px;           
}

.app {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1440px;
    align-items: center;
    margin: 100px 0;
}

.download_app {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
}

.app_button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
}

.h2_left {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #403F3D;
    margin: 0;
    text-align: left;
}

.h2_light {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #E1D4C9;
}

.h2_dark {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #B0907A;
    font-style: italic;
    text-align: left;
    margin-bottom: 40px;
}

.footer {
    display: flex;
    background-color: #665F55;
    border-radius: 40px;
    flex-direction: row;
    align-items: center;
    height: 450px;
    width: auto;
    padding: 0 60px;
    margin-bottom: 40px;
    margin-top: 100px;
}

.h3_light {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #E1D4C9;
    margin: 0;
    text-align: start;
    gap: 16px;
    margin-bottom: 25px;
    letter-spacing: 0.8px;
}

.foot_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 45px;
    flex: 1;
}

.social_media {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contact_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
    margin-bottom: 5px;
}

.h4_foot {
    width: auto;
    white-space: nowrap;
}

.foot_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    gap: 16px;
    flex: 1;
    margin-left: 50px;
}